<div class="row">
    <div class="col-xs-12">
        <p>Add new Servers or blueprints!</p>
        <label>Server Name</label>
        <input type="text" class="form-control" #serverNameElement>
        <label>Server Content</label>
        <input type="text" class="form-control" #serverContentElement>
        <br>
        <button
        class="btn btn-primary"
        (click)="onAddServer(serverNameElement, serverContentElement)">Add Server</button>
        <button
        class="btn btn-primary"
        (click)="onAddBlueprint(serverNameElement, serverContentElement)">Add Server Blueprint</button>
    </div>
</div>